<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap" rel="stylesheet">
    <title>Modificar Callejero</title>
    <link rel="stylesheet" href="static/css/estilos.css">
</head>

<body>
    <h1>Modificar Callejeros de la Galería</h1>
    <h3>Codo a Codo 2023</h3>
    <div id="app">
        <form @submit.prevent="obtenerCallejero">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Modificar Callejero</button>
            <a href="index.html">Menú principal</a>
        </form>
        <div v-if="mostrarDatosCallejero">
            <h2>Datos del Callejero</h2>
            <form @submit.prevent="guardarCambios">
                <label for="nombreModificar">Nombre:</label>
                <input type="text" id="nombreModificar" v-model="nombre" required><br>
                <label for="edadModificar">Edad:</label>
                <input type="number" id="edadModificar" v-model="edad" required><br>
                <label for="sexoModificar">Sexo:</label>
                <input type="text" id="sexoModificar" v-model="sexo" required><br>
                <label for="tamanioModificar">Tamaño:</label>
                <input type="text" id="tamanioModificar" v-model="tamanio" required><br>

                <!-- Imagen actual del callejero -->
                <img v-if="imagen_url && !imagenSeleccionada" :src=" 'https://www.pythonanywhere.com/user/Eliana2601/files/home/Eliana2601/mysite/static/img/' + imagen_url" alt="Imagen del Callejero" style="max-width: 200px; ">

                <!-- Vista previa de la nueva imagen seleccionada -->
                <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen" style="max-width: 200px;">

                <!-- Input para nueva imagen -->
                <label for="nuevaImagen">Nueva Imagen:</label>
                <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="modificaciones.js"></script>
</body>

</html>